{!PlayerList.html}
{!RoleList.html}

{@Title Avalon Games Master Page}

{@Content
    {=Bootstrap.Container()
        {=Bootstrap.GridRow()
            {=Bootstrap.GridCell(-1, -1, 6)
                {?model.CanShowPlayerList()
                    {#PlayerList}
                }
                {?model.CanShowRoleList()
                    <h2>Roles</h2>
                    {#RoleList}
                }
            }
            {=Bootstrap.GridCell(-1, -1, 6)
                <h2>{model.CanStartGameMessage}</h2>
                {?model.CanStartGame()
                    {=Bootstrap.Form("POST", "StartGame")
                        {=Bootstrap.Button("Start The Game", "submit", "start-game", "success", "large", true)}
                    }
                }
                {?model.CanEndGame()
                    {=Bootstrap.Form("POST", "EndGame")
                        {=Bootstrap.Button("Finish The Game", "submit", "end-game", "danger", "large", true)}
                    }
                }
                {?model.CanResetGame()
                    {=Bootstrap.Form("POST", "ResetGame")
                        {=Bootstrap.Button("Reset The Game", "submit", "reset-game", "success", "large", true)}
                    }
                }
            }
        }
    }
}

{@Scripts
    <script type="text/javascript" src="avalon/refresh.js"></script>
}