{!PlayerList.html}
{!RoleSelect.html}
{!RoleInfo.html}

{@Title Avalon Player Page}

{@Content
    {=Bootstrap.Container()
        {=Bootstrap.GridRow()
            {=Bootstrap.GridCell(-1, -1, 4)
                {#RoleInfo}
            }
            {=Bootstrap.GridCell(-1, -1, 4)
                {#RoleSelect}
            }
            {=Bootstrap.GridCell(-1, -1, 4)
                {#PlayerList}
            }
        }
    }
}

{@Scripts
    <script type="text/javascript" src="avalon/roleinfo.js"></script>
}