{!PlayerList.html}
{!RoleSelect.html}
{!RoleInfo.html}
{!RoleSecrets.html}
{!PlayerWaiting.html}

{@Title Avalon Player Page}

{@Content
    {=Bootstrap.Container()
        {=Bootstrap.GridRow()
            {=Bootstrap.GridCell(-1, -1, 6)
                {#RoleInfo}
            }
            {=Bootstrap.GridCell(-1, -1, 6)
                {?model.CanSelectRole()
                    {#RoleSelect}
                }
                {?model.CanShowSecrets()
                    {#RoleSecrets}
                }
                {?model.IsWaiting()
                    {#PlayerWaiting}
                }
            }
        }
    }
}

{@Scripts
    <script type="text/javascript" src="avalon/roleinfo.js"></script>
}