{@RoleSelect
    <table class="table">
        <tbody>
            <tr>
                <td><a href="#"><img src="Images/merlin_small.jpg"/></a></td>
                <td><a href="#"><img src="Images/percival_small.jpg" /></a></td>
                <td></td>
                <td><a href="#"><img src="Images/servant1_small.jpg" /></a></td>
            </tr>
            <tr>
                <td><a href="#"><img src="Images/servant2_small.jpg" /></a></td>
                <td><a href="#"><img src="Images/servant3_small.jpg" /></a></td>
                <td><a href="#"><img src="Images/servant4_small.jpg" /></a></td>
                <td><a href="#"><img src="Images/servant5_small.jpg" /></a></td>
            </tr>
            <tr>
                <td><a href="#"><img src="Images/mordred_small.jpg" /></a></td>
                <td><a href="#"><img src="Images/morgana_small.jpg" /></a></td>
                <td><a href="#"><img src="Images/assassin_small.jpg" /></a></td>
                <td><a href="#"><img src="Images/oberon_small.jpg" /></a></td>
            </tr>
            <tr>
                <td><a href="#"><img src="Images/minion1_small.jpg" /></a></td>
                <td><a href="#"><img src="Images/minion2_small.jpg" /></a></td>
                <td><a href="#"><img src="Images/minion3_small.jpg" /></a></td>
                <td></td>
            </tr>
        </tbody>
    </table>
}