{@RoleInfo
    {#MerlinRoleInfo}
    {#PercivalRoleInfo}
    {#Servant1RoleInfo}
    {#Servant2RoleInfo}
    {#Servant3RoleInfo}
    {#Servant4RoleInfo}
    {#Servant5RoleInfo}
    {#MordredRoleInfo}
    {#MorganaRoleInfo}
    {#OberonRoleInfo}
    {#AssassinRoleInfo}
    {#Minion1RoleInfo}
    {#Minion2RoleInfo}
    {#Minion3RoleInfo}
    <div class="role-card-button-container role-card role1 role2 role3 role4 role5 role6 role7 role8 role9 role10 role11 role12 role13 role14">
        {=Bootstrap.Form()
            {=Bootstrap.Button("Look at another role", "button", "cancel-role-select", "danger", "large", true)}
            {=Bootstrap.Button("Select this role", "button", "confirm-role-select", "success", "large", true)}
        }
    </div>
}

{@MerlinRoleInfo
    <div class="role-card role1">
        <div class="image-container">
            <div><img src="Images/merlin_large.jpg" /></div>
        </div>
        <div class="name">Merlin</div>
        <div class="description-container">
            <p>Merlin alone knows the agents of Evil, but he must speak of this only in riddles. If his true identity is discovered then all will be lost.</p>
        </div>
    </div>
}
{@PercivalRoleInfo
    <div class="role-card role2">
        <div class="image-container">
            <div><img src="Images/percival_large.jpg" /></div>
        </div>
        <div class="name">Percival</div>
        <div class="description-container">
            <p>Percival knows Merlin, but he must be careful to protect Merlin's identity while using this knowledge.</p>
        </div>
    </div>
}
{@Servant1RoleInfo
    <div class="role-card role3">
        <div class="image-container">
            <div><img src="Images/servant1_large.jpg" /></div>
        </div>
        {#ServantRoleInfo}
    </div>
}
{@Servant2RoleInfo
    <div class="role-card role4">
        <div class="image-container">
            <div><img src="Images/servant2_large.jpg" /></div>
        </div>
        {#ServantRoleInfo}
    </div>
}
{@Servant3RoleInfo
    <div class="role-card role5">
        <div class="image-container">
            <div><img src="Images/servant3_large.jpg" /></div>
        </div>
        {#ServantRoleInfo}
    </div>
}
{@Servant4RoleInfo
    <div class="role-card role6">
        <div class="image-container">
            <div><img src="Images/servant4_large.jpg" /></div>
        </div>
        {#ServantRoleInfo}
    </div>
}
{@Servant5RoleInfo
    <div class="role-card role7">
        <div class="image-container">
            <div><img src="Images/servant5_large.jpg" /></div>
        </div>
        {#ServantRoleInfo}
    </div>
}
{@ServantRoleInfo
    <div class="name">Loyal Servant of Arthur</div>
    <div class="description-container">
        <p>Arthur's loyal servants must try to deduce who the minions of Mordred are and keep them from causing quests to fail.</p>
    </div>
}
{@MordredRoleInfo
    <div class="role-card role8">
        <div class="image-container">
            <div><img src="Images/mordred_large.jpg" /></div>
        </div>
        <div class="name">Mordred</div>
        <div class="description-container">
            <p>Mordred's identity is not revealed to Merlin, he must use his anonymity to undermine quests and sow distrust.</p>
        </div>
    </div>
}
{@MorganaRoleInfo
    <div class="role-card role9">
        <div class="image-container">
            <div><img src="Images/morgana_large.jpg" /></div>
        </div>
        <div class="name">Morgana</div>
        <div class="description-container">
            <p>Percival can not distinguish Morgana from Merlin, if she can gain Percival's trust then she might be able to turn Arthur's servants against each other.</p>
        </div>
    </div>
}
{@OberonRoleInfo
    <div class="role-card role11">
        <div class="image-container">
            <div><img src="Images/oberon_large.jpg" /></div>
        </div>
        <div class="name">Oberon</div>
        <div class="description-container">
            <p>Although Oberon wishes the downfall of Arthur and his servants, he is not a minion of Mordred and will not appear as such, either to Merlin or to the minions of Mordred.</p>
        </div>
    </div>
}
{@AssassinRoleInfo
    <div class="role-card role10">
        <div class="image-container">
            <div><img src="Images/assassin_large.jpg" /></div>
        </div>
        <div class="name">Assassin</div>
        <div class="description-container">
            <p>If Arthur's servant's complete three quests then the assassin may pick one good player to assassinate. If she picks Merlin then Mordred's minions win the game.</p>
        </div>
    </div>
}
{@Minion1RoleInfo
    <div class="role-card role12">
        <div class="image-container">
            <div><img src="Images/minion1_large.jpg" /></div>
        </div>
        {#MinionRoleInfo}
    </div>
}
{@Minion2RoleInfo
    <div class="role-card role13">
        <div class="image-container">
            <div><img src="Images/minion2_large.jpg" /></div>
        </div>
        {#MinionRoleInfo}
    </div>
}
{@Minion3RoleInfo
    <div class="role-card role14">
        <div class="image-container">
            <div><img src="Images/minion3_large.jpg" /></div>
        </div>
        {#MinionRoleInfo}
    </div>
}
{@MinionRoleInfo
    <div class="name">Minion of Mordred</div>
    <div class="description-container">
        <p>Mordred's minons must cause quests to fail, without revealing themselves to Arthur's servants.</p>
    </div>
}
